{% extends 'base_2/base_2.html' %}
{% load static %}
{% load crispy_forms_tags %}



<!DOCTYPE html>

{% block title %}
        ویرایش آدرس :{{ user.get_full_name }}
{% endblock %}

{% block content %}


    <!-- Start All Title Box -->
    <div class="container mt-2">
        <div class="card text-right bg-info">
            <div class="card-body">
                <h2>حساب کاربری</h2>
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <a href='{% url "home" %}'>خانه</a>
                            <a style="color: #0b0b0b">/ افزودن آدرس جدید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <div class="container text-right border border-secondary mt-5 mb-5 p-5" style="background-color: #D4D4D4; width: 50rem;">
        <h2>ویرایش آدرس موجود</h2>
        <div>
            <form method='post' enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form|crispy }}
                <hr/>
                <button class='btn btn-success'>ویرایش آدرس</button>
            </form>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start My Account  -->
{#    <div style='direction:rtl;'>#}
{#        <div style='background-color:#000000;'>#}
{#            <div style='  background-color:lightgrey; background-color:#DCDCDC; padding:50px; margin:20px; text-align:center;'>#}
{#            <!-- width: 300px; border:1px solid green; text-align:center; -->#}
{#                <div style='text-align:right; padding-right:150px'>#}
{#                    <div>#}
{#                        <h4 style='padding-right:20%;'>--ویرایش آدرس ها--</h4>#}
{##}
{#                        <div>#}
{#                            <form method='post' enctype='multipart/form-data'>#}
{#                                {% csrf_token %}#}
{#                                <div class='col-6'>#}
{#                                    <p>{{ form.city }}{{ form.city.help_text }}</p>#}
{#                                </div>#}
{#                                <div class='col-6'>#}
{#                                    <p>خیابان : {{ form.street }}{{ form.street.help_text }}</p>#}
{#                                </div>#}
{#                                <div class='col-6'>#}
{#                                    <p>پلاک : {{ form.number }}{{ form.number.help_text }}</p>#}
{#                                </div>#}
{#                                <div class='col-6'>#}
{#                                    <p>کد پستی : {{ form.zip_code }}{{ form.zip_code.help_text }}</p>#}
{#                                </div>#}
{#                                <div class='col-6'>#}
{#                                    <p>نام محل : {{ form.name }}{{ form.zip_code.help_text }}</p>#}
{#                                </div>#}
{#                                #}
{##}
{#                                <hr/>#}
{#                                <button class='btn btn-success'>ویرایش اطلاعات</button>#}
{#                            </form>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- End My Account -->


{% endblock %}
