{% extends 'base/base.html' %}
{% load static %}

<DOCTYPE html>

{% block title %}
        ویرایش اطلاعات :{{ user.get_full_name }}
{% endblock %}

{% block content %}


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>My Account</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">حساب کاربری</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start My Account  -->
    <div style='direction:rtl;'>
        <div style='background-color:#000000;'>
            <div style='  background-color:lightgrey; background-color:#  DCDCDC; padding:50px; margin:20px; text-align:center;'>
            <!-- width: 300px; border:1px solid green; text-align:center; -->
                <div style='text-align:right; padding-right:150px'>
                    <div>
                        <h4 style='padding-right:20%;'>--ویرایش اطلاعات شخصی--</h4>

                        <div>
                            <form method='post' enctype='multipart/form-data'>
                                {% csrf_token %}
                                
                                <div class='col-6'>
                                    <p>{{ form.first_name }}{{ form.first_name.help_text }}</p>
                                </div>
                                <div class='col-6'>
                                    <p>{{ form.last_name }}{{ form.last_name.help_text }}</p>
                                </div>
                                <div class='col-6'>
                                    <p>{{ form.mobile }}{{ form.mobile.help_text }}</p>
                                </div>
                                <div class='col-6'>
                                    <p>{{ form.email }}{{ form.email.help_text }}</p>
                                </div>
                                <br/>
                                <div class='col-8'>
                                    <p>{{ form.image }}{{ form.image.help_text }}</p>
                                </div>

                                <button class='btn btn-success'>ویرایش اطلاعات</button>
                            </form>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End My Account -->


    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% endblock %}
