{% extends 'base_2/base_2.html' %}
{% load static %}

<!DOCTYPE html>

{% block title %}
        پروفایل :{{ user.get_full_name }}
{% endblock %}

{% block content %}


    <!-- Start All Title Box -->
    <div class="container mt-2">
        <div class="card text-right bg-info">
            <div class="card-body">
                <h2>حساب کاربری</h2>
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <a href='{% url "home" %}'>خانه</a>
                            <a style="color: #0b0b0b">/ حساب کاربری</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End All Title Box -->

    <!-- Start My Account  -->
    <div class="container text-right">

        <!-- width: 300px; border:1px solid green; text-align:center; -->
        <div class="row">
            <div class="container border border-secondary mt-5 p-5" style="background-color: #D4D4D4; width: 30rem;">
                <h4 class="text-center">--اطلاعات شخصی--</h4>
                <br/>
                <p> : عکس شما{% if user.image %}<img src="{{ user.image.url }}" width="100">{% endif %}</p>
                <p>نام : {{ user.first_name }}</p>
                <p>نام خانوادگی : {{ user.last_name }}</p>
                <p>شماره موبایل : {{ user.mobile }}</p>
                <p>ایمیل : {{ user.email }}</p>
                <a class="btn btn-outline-warning" href="{% url 'personal_detail_edit' %}">
                    <span>&#8635;</span> ویرایش اطلاعات شخصی</a>
                <br/>
            </div>
            <div class="container border border-secondary mt-5 p-5" style="background-color: #D4D4D4; width: 30rem;">
                <h4 class="text-center">--آدرس ها--</h4>
                <br>
                <div class="container">
                    {% for i in user.get_address%}
                        <p>نام محل : {{ i.name }}</p>
                        <p> آدرس : {{ i.city }} {{ i.street }} پلاک {{ i.number }}</p>
                        <p>کد پستی : {{ i.zip_code }}</p>
                        <a class="btn btn-outline-warning" href="{% url 'personal_address_detail' i.name %}">
                            <span>&#8635;</span> ویرایش آدرس ها</a>
                        <a class="btn btn-outline-danger" href="{% url 'remove_address' i.id %}">
                            <span>&#10060;</span> حذف آدرس</a>
                    {% endfor%}
                    <br>
                </div>
                <hr class="mt-5">
                <div class="text-center">
                    <a class="btn btn-outline-primary" href="{% url 'create_new_address' %}">
                        <span>&#9997;</span> افزودن آدرس جدید</a>
                </div>
            </div>
        </div>

            {% if request.user.get_shop %}
            <div class="container border border-secondary mt-5 p-5 mb-5" style="background-color: #D4D4D4; width: 30rem;">
                <h4 class="text-center">--اطلاعات فروشگاه--</h4>
                <br/>
                <div class="container">
                    <p> نام فروشگاه : {{ user.get_shop.name }}</p>
                    <p> نام فروشگاه : {{ user.get_shop.slug }}</p>

                    <p> آدرس فیسبوک : {% if user.get_shop.facebook %}{{ user.get_shop.facebook }}{% endif %}</p>

                    <p> آدرس اینستاگرام : {% if user.get_shop.instagram %}{{ user.get_shop.instagram }}{% endif %}</p>

                    <p> آدرس تلگرام : {% if user.get_shop.telegram %}{{ user.get_shop.telegram }}{% endif %}</p>

                    <p> آدرس واتس اپ : {% if user.get_shop.whatsapp %}{{ user.get_shop.whatsapp }}{% endif %}</p>

                    <p> درباره فروشگاه : {% if user.get_shop.discription %}{{ user.get_shop.discription }}{% endif %}</p>

                    <p>عکس فروشگاه : {% if user.get_shop.image %}<img src="{{ user.get_shop.image.url }}" width="100">{% endif %}</p>

                    <p> تاریخ ثبت فروشگاه : {{ user.get_shop.created_at }}</p>
                    <p> آیا فروشگاه شما اجازه فعالیت دارد؟ {% if user.get_shop.is_active %}بله{% else %}خیر{% endif %}</p>

                    <a class="btn btn-outline-warning" href="{% url 'update_shop' %}">
                        <span>&#8635;</span> ویرایش اطلاعات فروشگاه</a>
                </div>
            </div>
            {% else %}
            <div class="container border border-secondary mt-5 p-5 mb-5" style="background-color: #D4D4D4;">
                <h4 class="text-center">--اطلاعات فروشگاه--</h4>
                <br/>
                <div class="text-center">
                    <a class="btn btn-outline-primary" href="{% url 'create_shop' %}">
                    <span>&#9997;</span> ایجاد فروشگاه</a>
                </div>
            </div>
            {% endif %}
        </div>


    <!-- End My Account -->


    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% endblock %}
