{% load static %}

<!DOCTYPE html>

<html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'mycss/mycustom.css' %}">

</head>



<body>

    {% include 'base_2/header_2.html' %}

    <div class='mt-5 pt-4'>
        {% if messages %}
            {% for message in messages %}
            <div class='alert alert-{{ message.tags }} alert-dismissable' role='alert'>{{ message }}
            <button type="button" data-dismiss="alert" class="close">&times</button></div>
                <!--"data-" is jquery method is fully defind by programer and do somthing for use.hear is for delet the alert from page -->
            {% endfor %}
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}

    {% include 'base_2/footer_2.html' %}

    
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'myjs/mycustom.js' %}"></script>

    <!-- ALL PLUGINS -->
    {% block javascript %}
    {% endblock %}

</body>
</html>