{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
<DOCTYPE html>

{% block title %}
    | فروشگاه اینترنتی ما
{% endblock %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>فروشگاه شما</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">بروز رسانی محصول</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->


    <div class='container' style="background-color: #e7e7e7;">
        <form method='post' enctype='multipart/form-data'> 
        <!---->
            {% csrf_token %}
            <div class='col-6'>
                <p>{{ form.product.value }} : نام محصول </p>
            </div>
            <div class='col-6'>
                <p>{{ form.size }} : سایز محصول </p>
            </div>
            <div class='col-6'>
                <p>{{ form.color }} : رنک محصول </p>
            </div>
            <div class='col-6'>
                <p>قیمت محصول : {{ form.price }}{{ form.zip_code.help_text }}</p>
            </div>
            <div class='col-6'>
                <p>تعداد موجودی : {{ form.quantity }}{{ form.zip_code.help_text }}</p>
            </div>
            <div class='col-6'>
                <p>زمان انتشار : </p>{{ form.publish_time }}
            </div>

            <button type='submit' class='btn btn-success'>تایید اصلاعات</button>
        </form>
    </div>


    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% endblock %}