{% extends 'base_2/base_2.html' %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>

{% block title %}
    {% for i in curent_slug_object %}
        {{ i.name }}
    {% endfor %}
    | فروشگاه اینترنتی ما
{% endblock %}

{% block content %}


    <!-- Start All Title Box -->
    <!-- Start All Title Box -->
    <div class="container mt-2">
        <div class="card text-right bg-info">
            <div class="card-body">
                <h2>لیست خرید ها</h2>
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <a href='{% url "home" %}'>خانه</a>
                            <a style="color: #0b0b0b">/ لیست خرید ها</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <!-- End All Title Box -->

    <!-- Start Cart  -->


    <div class="container text-right mt-5">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">حذف محصول</th>
                <th scope="col">کاهش تعداد</th>
                <th scope="col">افزایش تعداد</th>
                <th scope="col">قیمت در تعداد</th>
                <th scope="col">تعداد محصول</th>
                <th scope="col">قیمت تکی محصول</th>
                <th scope="col">نام محصول</th>
                <th scope="col">عکس محصول</th>

            </tr>
            </thead>
            <tbody>
            {% for j in object_list %}
                {% for i in j.basket_items %}
                    <tr>
                        <th>
                            <a class="btn btn-outline-danger" href="{% url 'remove_from_basket' id=i.shopproduct.id %}">
                                <span>&#10060;</span>
                            </a>
                        </th>
                        <td>
                            <a class="btn btn-outline-warning" href="{% url 'decrease_from_basket' id=i.shopproduct.id %}">
                                <span>&#9661;</span>
                                کاهش تعداد
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-warning" href="{% url 'increase_from_basket' id=i.shopproduct.id %}">
                                <span>&#9650;</span>
                                افزایش تعداد
                            </a>
                        </td>
                        <td>
                            <p>{{ i.total_price|intcomma }}</p>
                        </td>
                        <td>
                            <p>{{ i.quantity }}</p>
                        </td>
                        <td>
                            <p>{{ i.shopproduct.price|intcomma }}</p>
                        </td>
                        <td>
                            <a class="text-white" href="{% url "detail_product" i.shopproduct.product.slug i.shopproduct.id %}">
                                {{ i.shopproduct.product.name }}سایز {{ i.shopproduct.size }} رنگ {{ i.shopproduct.color }}
                            </a>
                        </td>

                        <td>
                            <a href="{% url "detail_product" i.shopproduct.product.slug i.shopproduct.id %}">
                                <img class="img-fluid" style="height: 100px" src="{{ i.shopproduct.product.first_image.url }}" alt="" />
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="container text-right">
        <div class="row">
            <div class="col-4 border border-secondary mt-5 p-5 mb-5 ">
                <div class="card" style="background-color: #D4D4D;">
                    <div class="card-header">
                        اعمال تخفیف
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><input> :کد</li>
                        <li class="list-group-item"><p class="bg-danger text-center">کد نا درست است</p></li>
                        <li class="list-group-item"> مبلغ کد <span class="bg-info"> 20,000 </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-7 border border-secondary mt-5 p-5 mb-5 ml-5" style="background-color: #D4D4D4;">
                <h3>حساب درای</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 70%" scope="col">میلغ</th>
                        <th style="width: 30%" scope="col">مورد</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {% for j in object_list %}
                                <div>{{ j.basket_price|intcomma }} تومان</div>
                            {% endfor %}
                        </td>
                        <td>مجموع فاکتور</td>
                    </tr>
                    <tr>
                        <td>0.0</td>
                        <td>مجموع تخفیف کالا</td>
                    </tr>
                    <tr>
                        <td>0.0</td>
                        <td>کد تخفیف</td>
                    </tr>
                    <tr>
                        <td>0.0</td>
                        <td>هزینه جابجایی</td>
                    </tr>
                    <tr>
                        <td>
                            {% for j in object_list %}
                                <div class="btn btn-danger">تومان {{ j.basket_price|intcomma }}</div>
                            {% endfor %}
                        </td>
                        <td>قابل پرداخت</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- End Cart -->





{% endblock %}