{% extends 'base_2/base_2.html' %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>

{% block title %}
    فروشگاه: 
        {% for i in curent_slug_object %}
            {{ i.name }}
        {% endfor %}
    | فروشگاه اینترنتی ما
{% endblock %}

{% block content %}

    <!--Shop info -->
    <div class="container text-right mt-2">
        <div class="row">

            <!--Shop discription -->
            <div class="border border-secondary col-9 p-5 mr-0 mb-3" style="background-color: #D4D4D4;">
                {% for i in curent_slug_object %}
                    {% if i.discription %}
                            <h3>توضیحات فروشگاه</h3>
                            <div class="container">
                                {{ i.discription }}
                            </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!--Shop Base info -->
            <div class="col-3">
                <div class="card" style="width: 18rem; background-color: #D4D4D4;">
                    {% for i in curent_slug_object %}
                        {% if i.image %}
                        <img class="card-img-top" src="{{ i.image.url }}" width="100px" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ i.name }}</h5>
                            <p class="card-text">{{ i.created_at }}</p>
                            <a href="{% url 'update_shop' %}" class="btn btn-outline-danger">ویرایش اطلاعات فروشگاه</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    <!-- end Shop info -->

    <!--Shop products -->

        <div class="row">

            <!--Shop products items -->
            <div class="col-9 border border-secondary p-4 mt-3 mr-0 mb-3 text-right">
                <div class="row">
                    {% for product in object_list %}
                        <div class="card m-2" style="width: 250px; background-color: #D4D4D4;">
                            {% if product.first_image %}
                                <a href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}"><img src="{{ product.first_image.url }}" class="card-img-top" style="height: 300px" alt="Image"></a>
                            {% endif %}
                            <div class="card-body">
                                <a style="color: #0b0b0b"  href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}"><h5 class="card-title">{{ product.name }}</h5></a>
                                <a style="color: #880000"  href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}"><h5 class="card-title">{{ product.min_price.first.price|intcomma }}</h5></a>
                                {% for i in curent_slug_object %}{% if request.user == i.user %}
                                    <a href="#">
                                        <i class="fas fa-sync-alt"></i>
                                        ویرایش اطلاعات محصول
                                    </a>
                                    <a href="#">
                                        <i class="fas fa-sync-alt"></i>
                                        حذف این محصول از فروشگاه
                                    </a>
                                {% endif %}{% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- end products items -->



            <div class="col-3">
                <div class="border border-secondary p-2 mt-3 mb-3 text-right">
                    <h4>فیلتر ها</h4>
                        <hr style="border: 2px solid black;margin-top:0px;">
                        <div>
                            <form method='GET' action=''>
                                <!-- brand filter -->
                                <div>
                                    <span> برند ها</span>
                                    <br>
                                    {% for brand in clean_brand%}
                                        <label >{{ brand.name }}</label>
                                        <input type="radio" value="{{ brand.name }}" name='brand_filter' {% if brand.name == selected_brand_filter %} checked {% endif %}>
                                        <br>
                                    {% endfor %}
                                    <br>
                                </div>

                                <!-- order filter -->
                                <div>
                                    <span>مرتب سازی</span>
                                    <br>
                                    <label >جدید ترین</label>
                                    <input type="radio" value="-publish_time" name='order_by' {% if selected_order_by == '-publish_time' %} checked {% endif %}>
                                    <br>

                                    <label >قدیمی ترین</label>
                                    <input type="radio" value="publish_time" name='order_by' {% if selected_order_by == 'publish_time' %} checked {% endif %}>
                                    <br>

                                    <label >بیشترین قمیت</label>
                                    <input type="radio" value="price" name='order_by' {% if selected_order_by == 'price' %} checked {% endif %}>
                                    <br>

                                    <label >کم ترین قیمت</label>
                                    <input type="radio" value="-price" name='order_by' {% if selected_order_by == '-price' %} checked {% endif %}>
                                    <br>
                                </div>

                                <!-- price filter -->
                                <div>
                                    {% if first_price_range %}
                                    <div class='card mb-4'>
                                        <h6 class='card-header'>قیمت</h6>
                                        <div class='list-group list-group-flush'>
                                            <li class='list-group-item'>
                                                {{ first_price_range|intcomma }} از قیمت :
                                                <input type='range' min='{{ first_price_range }}' max='{{ last_price_range }}' id='range_input' oninput='max_price.value=this.value' step="10000"  {% if selected_max_price %} value="{{ selected_max_price }}" {% endif %}/>
                                                {{ last_price_range|intcomma }} : تا قیمت
                                            </li>
                                            <li class='list-group-item'>

                                                <input type='number' onkeyup='range_input.value=this.value' id='max_price' min='{{ first_price_range }}' max='{{ last_price_range }}' name="max_price"  {% if selected_max_price %} value="{{ selected_max_price }}" {% endif %}/>
                                                بیشترین قیمت:{{ last_price_range|intcomma }}
                                            </li>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>

                                <button type="submit" class="btn btn-outline-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg> Search</button>

                            </form>
                        </div>
                    </div>
{#                <div>#}
{#                    <div class="card border border-secondary p-2 mt-3 mb-3 text-right" style="width: 18rem; background-color: #D4D4D4;">#}
{#                        <div class="card-header">#}
{#                            : لیست برند ها#}
{#                        </div>#}
{#                        <ul class="list-group list-group-flush">#}
{#                            {% for i in brand_list %}#}
{#                                <li class="btn btn-outline-info">{{ i.name }}</li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="card border border-secondary p-2 mt-3 mb-3 text-right" style="width: 18rem; background-color: #D4D4D4;">#}
{#                    <div class="card-header">#}
{#                        : مرتب سازی بر اساسه#}
{#                    </div>#}
{#                    <ul class="list-group list-group-flush">#}
{#                        <button type='submit' class ='btn btn-outline-info' name='order_by' value='publish_time'>جدیدترین</button>#}
{#                        <button type='submit' class ='btn btn-outline-info' name='order_by' value='-publish_time'>قدیمی ترین</button>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="card border border-secondary p-2 mt-3 mb-3 text-right" style="width: 18rem; background-color: #D4D4D4;">#}
{#                    <div class="card-header">#}
{#                        : لیست دسته بندی ها#}
{#                    </div>#}
{#                    <ul class="list-group list-group-flush">#}
{#                        {% for i in entity_category_list %}#}
{#                            <button type='submit' class ='btn btn-outline-info' name='category_filter' value='{{ i.slug }}'>#}
{#                                {{ i }}#}
{#                            </button>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
{##}
{#                <!-- End All Title Box -->#}
{#                <div class="border border-secondary p-2 mt-3 mb-3 text-right">#}
{#                    <form method='get'>#}
{#                        {% for brand in clean_brand%}#}
{#                            <li>#}
{#                                <button type='submit' class ='button' name='brand_filter' value='{{ brand.name }}'>#}
{#                                {{ brand.name }}#}
{#                                </button>#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </form>#}
{#                </div>#}

            </div>


        </div>
    </div>
    <!-- End Shop Page -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% endblock %}