{% extends 'base_2/base_2.html' %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>

{% block title %}
    فروشگاه: 
        {% for i in curent_slug_object %}
            {{ i.name }}
        {% endfor %}
    | فروشگاه اینترنتی ما
{% endblock %}

{% block content %}

    <!--Shop info -->
    <div class="container text-right mt-2">
        <div class="row">

            <!--Shop discription -->
            <div class="border border-secondary col-9 p-5 mr-0 mb-3" style="background-color: #D4D4D4;">
                {% for i in curent_slug_object %}
                    {% if i.discription %}
                            <h3>توضیحات فروشگاه</h3>
                            <div class="container">
                                {{ i.discription }}
                            </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!--Shop Base info -->
            <div class="col-3">
                <div class="card" style="width: 18rem; background-color: #D4D4D4;">
                    {% for i in curent_slug_object %}
                        {% if i.image %}
                        <img class="card-img-top" src="{{ i.image.url }}" width="100px" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ i.name }}</h5>
                            <p class="card-text">{{ i.created_at }}</p>
                            <a href="{% url 'update_shop' %}" class="btn btn-outline-danger">ویرایش اطلاعات فروشگاه</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    <!-- end Shop info -->

    <!--Shop products -->

        <div class="row">

            <!--Shop products items -->
            <div class="col-9">
                <div class="row">
                    {% for product in object_list %}
                        <div class="card m-2" style="width: 250px; background-color: #D4D4D4;">
                            {% if product.first_image %}
                                <a href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}"><img src="{{ product.first_image.url }}" class="card-img-top" style="height: 300px" alt="Image"></a>
                            {% endif %}
                            <div class="card-body">
                                <a style="color: #0b0b0b"  href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}"><h5 class="card-title">{{ product.name }}</h5></a>
                                <a style="color: #880000"  href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}"><h5 class="card-title">{{ product.min_price.first.price|intcomma }}</h5></a>
                                {% for i in curent_slug_object %}{% if request.user == i.user %}
                                    <a href="#">
                                        <i class="fas fa-sync-alt"></i>
                                        ویرایش اطلاعات محصول
                                    </a>
                                    <a href="#">
                                        <i class="fas fa-sync-alt"></i>
                                        حذف این محصول از فروشگاه
                                    </a>
                                {% endif %}{% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- end products items -->



            <div class="col-3">
                <div>
                    <div class="card border border-secondary p-2 mt-3 mb-3 text-right" style="width: 18rem; background-color: #D4D4D4;">
                        <div class="card-header">
                            : لیست برند ها
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for i in brand_list %}
                                <li class="btn btn-outline-info">{{ i.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% comment %}<a>لیست برند ها:</a>
                    <ul>
                        <form method='get'>
                            {% for i in brand_list %}
                                <li>
                                    <button type='submit' class ='button' name='brand_filter' value='{{ i.name }}'>
                                        {{ i.name }}
                                    </button>
                                </li>
                            {% endfor %}
                        </form>
                    </ul>{% endcomment %}
                </div>
                <div class="card border border-secondary p-2 mt-3 mb-3 text-right" style="width: 18rem; background-color: #D4D4D4;">
                    <div class="card-header">
                        : مرتب سازی بر اساسه
                    </div>
                    <ul class="list-group list-group-flush">
                        <button type='submit' class ='btn btn-outline-info' name='order_by' value='publish_time'>جدیدترین</button>
                        <button type='submit' class ='btn btn-outline-info' name='order_by' value='-publish_time'>قدیمی ترین</button>
                    </ul>
                </div>
                {% comment %}<div class="border border-secondary p-2 mt-3 mb-3 text-right">
                    <a>مرتب سازی بر اساسه: </a>
                    <ul>
                        <form method='get'>
                            <li><button type='submit' class ='button' name='order_by' value='publish_time'>جدیدترین</button></li>
                            <li><button type='submit' class ='button' name='order_by' value='-publish_time'>قدیمی ترین</button></li>
                        </form>
                    </ul>
                </div>{% endcomment %}
                <div class="card border border-secondary p-2 mt-3 mb-3 text-right" style="width: 18rem; background-color: #D4D4D4;">
                    <div class="card-header">
                        : لیست دسته بندی ها
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for i in entity_category_list %}
                            <button type='submit' class ='btn btn-outline-info' name='category_filter' value='{{ i.slug }}'>
                                {{ i }}
                            </button>
                        {% endfor %}
                    </ul>
                </div>
                {% comment %}<div class="border border-secondary p-2 mt-3 mb-3 text-right">
                    <a>لیست دسته بندی ها:</a>
                    <ul>
                        <form method='get'>
                            {% for i in entity_category_list %}
                                <li>
                                    <button type='submit' class ='button' name='category_filter' value='{{ i.slug }}'>
                                        {{ i }}
                                    </button>
                                </li>
                            {% endfor %}
                        </form>
                    </ul>
                </div>{% endcomment %}

                <!-- End All Title Box -->
                <div class="border border-secondary p-2 mt-3 mb-3 text-right">
                    <form method='get'>
                        {% for brand in clean_brand%}
                            <li>
                                <button type='submit' class ='button' name='brand_filter' value='{{ brand.name }}'>
                                {{ brand.name }}
                                </button>
                            </li>
                        {% endfor %}
                    </form>
                </div>

            </div>


        </div>
    </div>
    <!-- End Shop Page -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% endblock %}