{% extends 'base_2/base_2.html' %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>

{% block title %}
    {% for i in curent_slug_object %}
        {{ i.name }}
    {% endfor %}
    | فروشگاه اینترنتی ما
{% endblock %}

{% block content %}


    <!-- start sub categoy with pic -->
    <div class="container" style="margin-top: 80px;">
        <h2 class="text-right">دسته بندی ها</h2>
        <div class='row'>
            {% for i in curent_slug_object %}
                {% if i.children.count %}
                    {% for child in i.children.all %}
                        <div class="card" style="width: 18rem;">
                            {% if child.image %}
                                <a href="{% url 'search_product' slug=child.slug %}"><img href="{% url 'search_product' slug=child.slug %}" src="{{ child.image.url }}" height='100'></a>
                            {% endif %}
                            <div class="card-body text-right">
                                <a href="{% url 'search_product' slug=child.slug %}"><h5 class="card-title">{{ child.name}}</h5></a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>



    <!-- navigate box -->
    <div class="container mt-3">
        {% if search_name %}
            <h2><span>جستجو برای :</span>{{ search_name }}</h2>
        {% endif %}
        <div class="card text-right bg-info text-white">
            <div class="card-body">
                {% for i in curent_slug_object %}
                    <h2>{{ i.name }}</h2>
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <a href='{% url "home" %}'>خانه</a>
                                {% for b in i.category_road %}
                                    <a style="color: #0b0b0b">/</a>
                                    <a href="{% url 'search_product' slug=b.slug %}">{{ b.name }}</a><!-- ??????? -->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <!-- Start Shop Page  -->
    <div class="container text-right">
        <div class="row">

            <div class="border border-secondary col-9 p-4 mt-3 mr-0 mb-3">
                <!-- start products -->
                <div>
                    <div>
                        <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                            <div class="row">
                                <!-- start products items -->
                                {% for product in object_list %}
                                    <div class="card m-2" style="width: 250px;">
                                        {% if product.first_image.url %}
                                            {% if product.min_price %}
                                                <a href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}"><img src="{{ product.first_image.url }}" class="card-img-top" style="height: 300px" alt="Image"></a>
                                            {% else %}
                                                <a href="{% url 'detail_product_not_seller' slug=product.slug %}"><img src="{{ product.first_image.url }}" class="card-img-top" style="height: 200px" alt="Image"></a>
                                            {% endif %}
                                        {% endif %}
                                        <div class="card-body">

                                            {% if product.min_price %}
                                                <a style="color: #0b0b0b" href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}"><h5 class="card-title">{{product.name }}</h5></a>
                                            {% else %}
                                                <a style="color: #0b0b0b" href="{% url 'detail_product_not_seller' slug=product.slug %}"><h5 class="card-title">{{product.name }}</h5></a>
                                            {% endif %}

                                            {% if product.min_price %}
                                                <a style="color: #880000" href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}"><h5>{{ product.min_price.first.price|intcomma }} </h5></a>
                                            {% else %}
                                                <a  style="color: #0b0b0b" href="{% url 'detail_product_not_seller' slug=product.slug %}"><h5>--نا موجود--</h5></a>
                                            {% endif %}

                                            <p class="card-text">نام فروشگاه : {{ product.ShopProduct.all.first.shop.name}}</p>
                                        </div>
                                    </div>
                                    {% comment %}<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="sale">{{ product.ShopProduct.all.first.shop.name}}</p>
                                                </div>
                                                {% if product.image %}
                                                    {% if product.min_price %}
                                                        <a href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}"><img src="{{ product.image.url }}" class="img-fluid" alt="Image"></a>
                                                    {% else %}
                                                        <a href="{% url 'detail_product_not_seller' slug=product.slug %}"><img src="{{ product.image.url }}" class="img-fluid" alt="Image"></a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="why-text">
                                                {% if product.min_price %}
                                                    <a href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}">{{product.name }}</a>
                                                {% else %}
                                                    <a href="{% url 'detail_product_not_seller' slug=product.slug %}">{{product.name }}</a>
                                                {% endif %}
                                                {% if product.Off.all.first.price %}
                                                {% for key, value in off_percent_list.items %}
                                                {% if product.id == key %}
                                                <h3 style='color:red;'>تخفیف برای شما%{{ value }}</h3>
                                                {% endif%}
                                                {% endfor %}
                                                <h5>تومان {{ product.Off.all.first.price|intcomma}}</h5>
                                                <h6>
                                                    <del>{{ product.min_price.last.price}}</del>
                                                </h6>
                                                {% else %}
                                                {% endif %}
                                                {% if product.min_price %}
                                                    <h5><a>تومان {{ product.min_price.first.price|intcomma }}</a></h5>
                                                {% else %}
                                                    <h5><a>--نا موجود--</a></h5>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>{% endcomment %}
                                {% endfor %}
                                <!-- end products items -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-3">
                <div class="border border-secondary p-2 mt-3 mb-3 text-right">
                    {% if curent_slug_object %}
                        <h4>:دسته بندی نتایج</h4>
                        <div>
                            {% for i in curent_slug_object %}
                                {% for j in i.category_road %}
                                    <h5>{{ j }}</h5>
                                {% endfor %}
                                <hr>
                                {% for j in i.get_all_sub_childrens_ %}
                                    <h6>{{ j }}</h6>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>



                <!--Form filters-->
                <div class="border border-secondary p-2 mt-3 mb-3 text-right">
                    <h4>فیلتر ها</h4>
                    <hr style="border: 2px solid black;margin-top:0px;">
                    <div>
                        <form method='GET' action=''>
                            <!-- brand filter -->
                            <div>
                                <select name='brand_filter'>
                                    <option value=''>-----</option>
                                {% for brand in clean_brand%}
                                    <option value='{{ brand.name }}'>{{ brand.name }}</option>
                                {% endfor %}
                                </select>
                                <span>برند ها</span>
                            </div>

                            <!-- order filter -->
                            <div>
                                <select name='order_by'>
                                    <option value=''>-----</option>
                                    <option value='-publish_time'>جدید ترین</option>
                                    <option value="publish_time">قدیمی ترین</option>
                                    <option value="price">بیشترین قمت</option>
                                    <option value="-price">کم ترین قیمت</option>
                                </select>
                                <span>دسته بندی</span>
                            </div>

                            <!-- price filter -->
                            <div>
                                {% if first_price_range %}
                                <div class='card mb-4'>
                                    <h6 class='card-header'>قیمت</h6>
                                    <div class='list-group list-group-flush'>
                                        <li class='list-group-item'>
                                            {{ first_price_range.first_min_price|intcomma }}
                                            <input type='range' min='{{ first_price_range.first_min_price }}' max='{{ last_price_range.first_min_price }}' id='range_input' oninput='max_price.value=this.value'/>
                                            {{ last_price_range.first_min_price|intcomma }}
                                        </li>
                                        <li class='list-group-item'>
                                            بیشترین:
                                            <input type='number' onkeyup='range_input.value=this.value' id='max_price' min='{{ first_price_range.first_min_price }}' max='{{ last_price_range.first_min_price }}'/>
                                            {{ last_price_range.first_min_price|intcomma }}
                                        </li>
                                    </div>
                                </div>
                                {% endif %}
                            </div>

                            <button type="submit" class="btn btn-outline-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg> Search</button>

                        </form>
                    </div>
                </div>

                <!--filters-->


                <hr>
                <hr>
                <hr>
                    {% comment %} <div>
                        <form method="GET">
                            {{ filter.form.as_p }}
                            {{ filter.form.name }}
                            {{ filter.form.brand }}
                            <div class="filter-brand-left">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    {% for i in filter.form.price_order%}
                                        <option value='{{ i }}'>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                        </form>
                <!--end filters-->
                    </div>{% endcomment %}





    </div>

    <!-- End Shop Page -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% endblock %}