{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
<DOCTYPE html>

{% block title %}
    {% for i in curent_slug_object %}
        {{ i.name }}
    {% endfor %}
    | فروشگاه اینترنتی ما
{% endblock %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if search_name%}
                        <h2 style='color:red;'><span><h4 style='color:#ffffff;'>جستجو برای :</h4></span>{{ search_name }}
                        </h2>
                    {% endif %}
                    {% for i in curent_slug_object %}
                        <h2>{{ i.name }}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href='{% url "home" %}'>خانه
                                {% for b in i.category_road %}
                                    <a>/</a>
                                    <a href="{% url 'search_product' slug=b.slug %}">{{ b.name }}</a><!-- ??????? -->
                                {% endfor %}
                                </a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- start sub categoy with pic -->
    <div class='row'>
        {% for i in curent_slug_object %}
            {% if i.children.count %}
                {% for child in i.children.all %}
                    {% if child.image %}
                        <img href="{% url 'search_product' slug=child.slug %}" src="{{ child.image.url }}" width='100'>
                    {% endif %}
                    <a href="{% url 'search_product' slug=child.slug %}">{{ child.name }}</a>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <!-- end sub categoy with pic -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="filter-sidebar-left">
                            {% if curent_slug_object %}
                                <div class="title-left">
                                    <h3>دسته بندی ها</h3>
                                </div>
                                <div>
                                    {% for i in curent_slug_object %}
                                        {% comment %} {% if i.parent %}
                                        <h2>Go up to
                                            <a href="{% url 'search_product' slug=i.parent.slug %}">
                                                {{ i.parent }}
                                            </a>
                                        </h2>
                                        {% else %}
                                        <h2>Go up to
                                            <a>
                                                {{ i.name }}
                                            </a>
                                        </h2>
                                        {% endif %}

                                        {% if i.children.count %}
                                        <h2>Subcategories</h2>
                                        <ul>
                                            {% for child in i.children.all %}
                                            <li><a href="{% url 'search_product' slug=child.slug %}">{{ child.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}

                                        <h2>Entries</h2>
                                        {% if category.entries_set.all %}
                                        {% for entry in category.entries_set.all %}
                                        <p><a href="#">{{ entry.headline }}</a></p>
                                        {% endfor %}
                                        {% else %}
                                        <p><em>No entries for {{ i }}</em></p>
                                        {% endif %} {% endcomment %}
                                        {% for j in i.category_road %}
                                            <h3>{{ j }}</h3>
                                        {% endfor %}
                                        <hr>
                                        {% for j in i.get_all_sub_childrens_ %}
                                            <h3>{{ j }}</h3>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div>
                        </div>

                    <!--Form filters-->
                        <h2>فیلتر ها</h2>
                        <hr style="border: 2px solid black;margin-top:0px;">>
                        <!-- price filter -->
                        {% if first_price_range %}
                        <div class='card mb-4'>
                            <h6 class='card-header'>قیمت</h6>
                            <div class='list-group list-group-flush'>
                                <li class='list-group-item'>
                                    {{ first_price_range.first_min_price|intcomma }}
                                    <input type='range' min='{{ first_price_range.first_min_price }}' max='{{ last_price_range.first_min_price }}' id='range_input' oninput='max_price.value=this.value'/>
                                    {{ last_price_range.first_min_price|intcomma }}
                                </li>
                                <li class='list-group-item'>
                                    بیشترین:
                                    <input type='number' onkeyup='range_input.value=this.value' id='max_price' min='{{ first_price_range.first_min_price }}' max='{{ last_price_range.first_min_price }}'/>
                                    {{ last_price_range.first_min_price|intcomma }}
                                </li>
                            </div>
                        </div>
                        {% endif %}
                        <!-- end price filter -->

                        <div class="filter-brand-left">
                            <form method='GET'>
                                <span>برند ها</span>
                                <select name='brand_filter' onchange='this.form.submit();'>
                                {% for brand in clean_brand%}
                                    <option value='{{ brand.name }}'>{{ brand.name }}</option>
                                {% endfor %}
                                </select>
                            </form>
                        </div>

                        <div>
                            <form action='' method='GET'>
                                <span>دسته بندی</span>
                                <select name='order_by' onchange='this.form.submit();'>
                                    <option value='-publish_time'>جدید ترین</option>
                                    <option value="publish_time">قدیمی ترین</option>
                                    <option value="-ShopProduct__price">بیشترین قمت</option>
                                    <option value="ShopProduct__price">کم ترین قیمت</option>
                                </select>
                            </form>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg> Search</button>

                    
                    <!--end Form filters-->

                    <!--filters-->
                    <hr>
                    <hr>
                    <hr>
                        <div>
                            <form method="GET">
                                {% comment %} {{ filter.form.as_p }} {% endcomment %}
                                {{ filter.form.name }}
                                {{ filter.form.brand }}
                                <div class="filter-brand-left">
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        {% for i in filter.form.price_order%}
                                            <option value='{{ i }}'>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Search</button>
                            </form>                   
                        </div>
                    <!--end filters-->


                    </div>
                </div>

                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                    
                        <!-- start products -->
                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        <!-- start products items -->
                                        {% for product in object_list %}
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">{{ product.ShopProduct.all.first.shop.name}}</p>
                                                        </div>
                                                        {% if product.image %}
                                                            {% if product.min_price %}
                                                                <a href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}"><img src="{{ product.image.url }}" class="img-fluid" alt="Image"></a>
                                                            {% else %}
                                                                <a href="{% url 'detail_product_not_seller' slug=product.slug %}"><img src="{{ product.image.url }}" class="img-fluid" alt="Image"></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="why-text">
                                                        {% if product.min_price %}
                                                            <a href="{% url 'detail_product' slug=product.slug id=product.min_price.first.id %}">{{product.name }}</a>
                                                        {% else %}
                                                            <a href="{% url 'detail_product_not_seller' slug=product.slug %}">{{product.name }}</a>
                                                        {% endif %}
                                                        {% comment %} {% if product.Off.all.first.price %}
                                                        {% for key, value in off_percent_list.items %}
                                                        {% if product.id == key %}
                                                        <h3 style='color:red;'>تخفیف برای شما%{{ value }}</h3>
                                                        {% endif%}
                                                        {% endfor %}
                                                        <h5>تومان {{ product.Off.all.first.price|intcomma}}</h5>
                                                        <h6>
                                                            <del>{{ product.min_price.last.price}}</del>
                                                        </h6>
                                                        {% else %}
                                                        {% endif %} {% endcomment %}
                                                        {% if product.min_price %}
                                                            <h5><a>تومان {{ product.min_price.first.price|intcomma }}</a></h5>
                                                        {% else %}
                                                            <h5><a>--نا موجود--</a></h5>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!-- end products items -->
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                    <div class="list-view-box">
                                        <div class="row">
                                            {% for product in object_list %}
                                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                    <div class="products-single fix">
                                                        <div class="box-img-hover">
                                                            <div class="type-lb">
                                                                <p class="sale">{{ product.brand }}</p>
                                                            </div>
                                                            {% if product.image %}
                                                            <img src="{{ product.image.url }}" class="img-fluid"
                                                                 alt="Image">
                                                            {% endif %}
                                                            <div class="mask-icon">
                                                                <ul>
                                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                </ul>
    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                    <div class="why-text full-width">
                                                        <h4>{{ product.name }}</h4>
                                                        <h5>
                                                            <del>{{ product.ShopProduct.all.first.price|intcomma}}</del>
                                                            {{ product.ShopProduct.all.first.price|intcomma}}
                                                        </h5>
                                                        {% if product.detail %}
                                                            <p>{{ product.detail }}</p>
                                                        {% endif %}
                                                        <a class="btn hvr-hover" href="#">Add to Cart</a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% endblock %}